// ==========================================================================
// Settings
// ==========================================================================
$tablet-width: 767px;
$desktop-width: 1024px;
$app-bar-height: 50px;
$gutter: 24px;
$gutter-narrow: $gutter / 2;
$gutter-wide: $gutter * 2;

// ==========================================================================
// Colors
// ==========================================================================
$white: #fff;
$black: #000;
$grey-light: #B4B4B4;
$grey: #5F5E5F;
$grey-dark: #3D3D3D;
$grey-darker: #252525;
$hot-blue: #3E82FF;
$hot-blue-active: #2D5EB7;
$danger: #d9534f;
$danger-active: #c9302c;

// ==========================================================================
// Font Families
// ==========================================================================
$font-family-base: "Gill Sans", sans-serif;
$font-family-alt: serif;

// ==========================================================================
// Font Sizes
// ==========================================================================
$font-size-base: 16px;
$font-size-largest: $font-size-base + 3;
$font-size-larger: $font-size-base + 2;
$font-size-large: $font-size-base + 1;
$font-size-small: $font-size-base - 1;
$font-size-smaller: $font-size-base - 2;
$font-size-smallest: $font-size-base - 3;

$line-height-base: 19 / 16;
$line-height-smaller: ($font-size-smaller + 3) / $font-size-smaller;

// ==========================================================================
// Font Weights
// ==========================================================================
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
