.app-bar {
    background-color: $grey-dark;
    height: $app-bar-height;
    color: $white;
    padding: 0 $gutter;

    .button-group {
        margin-top: 10px;
    }

    .buttons-left {
        float: left;
    }

    .buttons-right {
        float: right;
    }
}

.app-bar-title {
    line-height: $app-bar-height;
    font-size: $font-size-base;
    position: absolute;
    left: 0;
    right: 0;
}
