.button {
    color: $grey;
    background-color: $white;
    height: 30px;
    font-weight: $font-weight-bold;
    font-size: $font-size-smaller;
    border: none;
    border-radius: 8px;
    position: relative;
    margin: 0;
    padding: 0 8px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

    &:hover,
    &:active,
    &:focus {
        background-color: $grey-light;
    }
}

.button-group {

    .button {
        margin: 0 $gutter-narrow 0 0;

        &:last-child {
            margin-right: 0
        }
    }
}
