.image-cropper{
    position: relative;

    .thumbnail {
        cursor: pointer;
    }
}

.image-cropper-overlay-heading {
    background: $black;
    padding: $gutter $gutter-narrow;
}

.image-cropper-overlay-content {
    margin: 0 auto;
}