.list-group {
    padding: $gutter;
    border-radius: 10px;
    background: $white;
}

.list-group-header {
    padding-bottom: $gutter-narrow;
}

.list-group-subheader {
    padding-bottom: $gutter-narrow;
}

.list-group-item {

}