.thumbnail {
    color: $white;

    .thumbnail-image {
        border: solid 1px $white;
        border-radius: 12px;
        margin-bottom: $gutter-narrow;
        margin-left: auto;
        margin-right: auto;
    }

    .thumbnail-title {}
}

a:hover .thumbnail {

    .thumbnail-image {
        opacity: .65;
    }
}

.thumbnail-large {

    .thumbnail-image {
        border-radius: 44px;
        margin-bottom: $gutter;
    }
}