.video-editor {
    background: $grey-darker;
    overflow-y: auto;
    padding: 18px 6px;

    .thumbnail {
        color: $grey;
    }
}

.video-editor-item {
    position: relative;
    height: 100%;
    border: solid 1px rgba(255, 255, 255, .14);
    padding: 44px 18px 18px;
    border-radius: 10px;
    background: $grey-dark;
    color: $white;

    textarea {
        resize: none;
    }

    .move-buttons {
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
    }

    .drag-handle {
        cursor: move;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        > div {
            position: absolute;
            height: 3px;
            width: 3px;
            background-color: $hot-blue;
        }

        > div:nth-child(2),
        > div:nth-child(5),
        > div:nth-child(8) {
            left: 6px;
        }

        > div:nth-child(3),
        > div:nth-child(6),
        > div:nth-child(9){
            left: 12px;
        }

        > div:nth-child(4),
        > div:nth-child(5),
        > div:nth-child(6) {
            top: 6px;
        }

        > div:nth-child(7),
        > div:nth-child(8),
        > div:nth-child(9) {
            top: 12px;
        }
    }
}
