.video-editor {
    background: $white;
    overflow-y: auto;

    .thumbnail {
        color: $grey;
    }
}

.video-editor-item {
    border: solid 2px $grey;
    padding: $gutter-narrow;
    border-radius: 12px;

    textarea {
        resize: none;
    }
}