// Theme fonts
@font-face {
    font-family: 'guardian-text-sans-bold';
    src: url(https://s3.amazonaws.com/alpha-global-origin/daily-video/fonts/GuardianTextSans-Bold.otf);
}

@font-face {
    font-family: 'avenir-black';
    src: url(https://s3.amazonaws.com/alpha-global-origin/daily-video/fonts/Avenir-Black.ttf);
}

@font-face {
    font-family: 'gill-sans-bold';
    src: url(https://s3.amazonaws.com/alpha-global-origin/daily-video/fonts/GillSans-Bold.ttf);
}

@font-face {
    font-family: 'proxima-nova-extrabold';
    src: url(https://s3.amazonaws.com/alpha-global-origin/daily-video/fonts/ProximaNova-Extrabold.otf);
}

.slide-preview {
    background: $black;
    position: relative;

    @include cover-parent(absolute);

    .slide-preview-container {
        position: relative;
        height: 100%;
    }

    .video {
        height: 100%;
        width: 100%;
    }
}

.slide-preview-static {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 0 0;
    width: 1920px;
    height: 1080px;

    &
    .caption {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        white-space: pre-wrap;
        position: absolute;
        width: 920px;
        overflow: visible;
        color: $white;
        background-color: rgba(0, 0, 0, .65);
    }
}

.slide-preview-square {

    .slide-preview-static {
        background-size: auto 100%;
        width: 1080px;
    }
}

.text-AOL {
    font-family: 'gill-sans-bold';
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
}

.text-AOLComms {
    font-family: 'tk-niveau-grotesk-n5';
    font-size: 50px;
}

.text-HuffingtonPost {
    font-family: 'proxima-nova-extrabold';
    font-size: 50px;
    text-transform: uppercase;
}

.text-Moviefone {
    font-family: 'avenir-black';
    font-size: 45px;
    text-transform: uppercase;
}

.text-Engadget {
    font-family: 'guardian-text-sans-bold';
    font-size: 55px;
    // letter-spacing: 1.5px;
    line-height: 80px;
}

.text-Alpha {
    font-family: 'tk-proxima-soft-n7';
    font-size: 60px;
    text-transform: uppercase;
}

$padding: 100px;

.text-alignment-0,
.text-alignment-3,
.text-alignment-6 {
    left: $padding;
}

.text-alignment-1,
.text-alignment-4,
.text-alignment-7 {
    left: 50%;
    margin-left: -460px;
}

.text-alignment-2,
.text-alignment-5,
.text-alignment-8 {
    right: $padding;
}

.text-alignment-0,
.text-alignment-1,
.text-alignment-2 {
    top: $padding * 2.5;
}

.text-alignment-3,
.text-alignment-4,
.text-alignment-5 {
    top: 50%;
    transform: translateY(-50%);
}

.text-alignment-6,
.text-alignment-7,
.text-alignment-8 {
    bottom: $padding * 2;
}
