$bar-height: 40px;
.video-toolbar {
    position: relative;
    color: $white;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    height: 100%;
    overflow: hidden;

    &.minimized {
        height: $bar-height;
    }

    .section-header {
        height: $bar-height;
        line-height: $bar-height;
        font-size: $font-size-smallest;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
        background-color: rgba(255, 255,255, .17);
        color: rgba(255, 255, 255, .5);
        padding-left: 32px;
    }

    .section-header-item {
        height: auto;
        line-height: inherit;
        margin-left: $gutter;
        border-radius: 0;
    }

    .section-sound {
        flex: 0 0 40%;
        background-color: $grey;

        .control {
            float: left;
            width:50%;
        }

        .control-left {
            border-right:solid 1px rgba(255, 255, 255, .25);
        }
    }

    .section-export {
        flex: 0 0 60%;
        background-color: $grey-darker;

        .checkbox {
            margin-left: $gutter;
        }
    }

    .control-header {
        font-weight: $font-weight-semibold;
        font-size: $font-size-larger;
        margin-bottom: $gutter-narrow;
    }
    .control-body {
        padding: 50px 32px;
        position: relative;

        .loading-indicator {
            margin-top: 50px;
        }
    }
}
