.video-editor {
    background: $grey-darker;
    overflow-y: auto;
    padding: 18px 6px;

    .thumbnail {
        color: $grey;
    }
}

.video-editor-item {
    position: relative;
    height: 100%;
    border: solid 1px rgba(255, 255, 255, .14);
    padding: 44px 18px 18px;
    border-radius: 10px;
    background: $grey-dark;
    color: $white;
    transition: all 300ms linear;

    textarea {
        resize: none;
    }

    .move-buttons {
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
    }

    .drag-handle {
        cursor: move;
        height: 24px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $hot-blue;
        border-radius: 10px 10px 0 0;
        opacity: .2;
        transition: opacity 300ms linear;
    }

    &.has-drag-intent {
        border-color: $hot-blue;
        box-shadow: 0 0 24px rgba(0, 0, 0, 1);

        .drag-handle {
            opacity: 1;
        }
    }
}

.sortable-chosen .overlay {
    display: none;
}
