.video-preview {
    background: $black;
    position: relative;

    .video {
        height: 100%;
        width: 100%;
    }
}

.slide-preview {
    background: $black;
    position: relative;

    .slide-preview-container {
        position: relative;
        height: 100%;
    }

    .slide-preview-canvas {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}