.slide-preview {
    background: $black;
    position: relative;

    .slide-preview-container {
        position: relative;
        height: 100%;
    }

    .video {
        height: 100%;
        width: 100%;
    }
}