body{
    background-color: $grey-dark;
}

img {
    display: block;
}

html,
body,
#app,
.page-wrapper {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-columns {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.flex-rows {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.flex-overflow {
    overflow-y: auto;

    > div {
        max-height: 0;
    }
}

.home-page {
    color: $white;
    background-color: $grey-darker;
}

.video-page {

    .panels-top {
        overflow: auto;
        height: 0;
    }

    .panel-left {
        flex: 0 0 55%;
        overflow-y: auto;
    }
    .panel-right {
        position: relative;
        flex: 0 0 45%;
    }

    .panel-left,
    .panel-right {

        > div {
            height: 100%;
            width: 100%;
        }
    }
}

.pagination {
    border-color: $grey;
    border-width: 1px 0;
    border-style: solid;
    padding: $gutter-narrow 0;
    font-size: $font-size-larger;

    .pagination-link {
        margin: 0 6px;

        a.active {
            color: $grey;
        }
    }
}
