.thumbnail {
    min-height: 250px;
}

.thumbnail a > img,
.thumbnail > img{
    width: 100%;
}

.carousel {
    margin-bottom: 30px;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    width: 100%;
}

.carousel-caption {
    top: 50px;
    right: 50px;
    left: 50px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    bottom: auto;
}

.carousel-caption h3 {
    margin: 0;
    font-size: 30px;
    line-height: 1.4;
    text-shadow: 2px 2px 2px rgba(0,0,0, 1);
}

.carousel-title {
    text-align: center;
    color: white;
    position:absolute;
    right: 50px;
    bottom: 80px;
    left: 50px;
}

#videoDownload {
    margin-left: 24px;
}

.carousel-control{
    margin-bottom: 34px;
}
.template-select{}